@model TTCN_KhoHang.Models.Customer
<main class="content">
	@await Component.InvokeAsync("MenuView")
	<form method="post" class="card border-0 shadow p-3 pb-4 mb-4" asp-antiforgery="true">
		<div asp-validation-summary="All" class="card-header mx-lg-4 p-0 py-3 py-lg-4 mb-4 mb-md-0">
			<h3 class="h5 mb-0">Create Customer</h3>
		</div>
		<div class="card-body p-0 p-md-4">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-6">
					<div class="form-group mb-4">
						<label asp-for="customer_name">Name</label>
						<input type="text" class="form-control" placeholder="customer name" id="cartInputname" aria-describedby="cartInputname" asp-for="customer_name" required="">
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="form-group mb-4">
						<label asp-for="customer_address">address</label>
						<input type="text" placeholder="customer_address" class="form-control" id="cartInputdes" aria-describedby="cartInputdes" asp-for="customer_address">
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<div class="form-group mb-4">
						<label asp-for="customer_email">customer_email</label>
						<input type="text" placeholder="customer_email" class="form-control" id="cartInputprin" aria-describedby="cartInputprin" asp-for="customer_email">
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<div class="form-group mb-4">
						<label asp-for="customer_phone">customer_phone</label>
						<input type="text" placeholder="customer_phone" class="form-control" id="cartInputprout" aria-describedby="cartInputprout" asp-for="customer_phone">
					</div>
				</div>
				<div class="col-12"><button class="btn btn-gray-800 mt-2 animate-up-2" type="submit">Create</button></div>
			</div>
		</div>
	</form>
</main>