@model TTCN_KhoHang.Models.Customer

<div class="container">
	<div class="page-inner">
	<form method="post" class="card border-0 shadow p-3 pb-4 mb-4" asp-antiforgery="true">
		<div asp-validation-summary="All" class="card-header mx-lg-4 p-0 py-3 py-lg-4 mb-4 mb-md-0">
			<h3 class="h5 mb-0">Create Customer</h3>
		</div>
		<div class="card-body p-0 p-md-4">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-6">
					<div class="form-group mb-4">
						<label asp-for="customer_name">Tên</label>
							<input type="text" class="form-control" placeholder="Tên" id="cartInputname" aria-describedby="cartInputname" asp-for="customer_name" required="">
					</div>
				</div>
				<div class="col-12 col-lg-6">
					<div class="form-group mb-4">
						<label asp-for="customer_address">Địa chỉ</label>
							<input type="text" placeholder="Địa chỉ" class="form-control" id="cartInputdes" aria-describedby="cartInputdes" asp-for="customer_address">
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<div class="form-group mb-4">
						<label asp-for="customer_email">Email</label>
						<input type="text" placeholder="email" class="form-control" id="cartInputprin" aria-describedby="cartInputprin" asp-for="customer_email">
					</div>
				</div>
				<div class="col-12 col-lg-3">
					<div class="form-group mb-4">
						<label asp-for="customer_phone">SĐT</label>
						<input type="text" placeholder="phone" class="form-control" id="cartInputprout" aria-describedby="cartInputprout" asp-for="customer_phone">
					</div>
				</div>
					<div class="col-12"><button class="btn btn-primary mt-2 animate-up-2" type="submit">Thêm mới</button></div>
			</div>
		</div>
	</form>
	</div>
</div>