@using TTCN_KhoHang.Utilities;
@model TTCN_KhoHang.Models.User;
<body class="login">
	<div class="wrapper wrapper-login wrapper-login-full p-0">
		<div class="login-aside w-50 d-flex flex-column align-items-center justify-content-center text-center bg-secondary-gradient">
			<h1 class="title fw-bold text-white mb-3">Hệ thống quản lý Kai888</h1>
			<p class="subtitle text-white op-7">Bảo mật là một khoản đầu tư nhỏ cho một tương lai giàu có</p>
		</div>
		<div class="login-aside w-50 d-flex align-items-center justify-content-center bg-white">
			<div class="container animated fadeIn">
				<h3 class="text-center">Sign Up</h3>
				<div class="login-form">
					<form asp-controller="Register" asp-action="Index">
						<div class="form-group">
							<label class=""><a>UserName</a></label>
							<input asp-for="username" type="text" class="form-control" required="">
							<span asp-validation-for="username" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label class=""><a>Email</a></label>
							<input asp-for="email" type="email" class="form-control" required="">
							<span asp-validation-for="email" class="text-danger"></span>
						</div>
						<div class="form-group">
							<label for="passwords" class=""><a>Password</a></label>
							<div class="position-relative">
								<input asp-for="password" type="password" class="form-control" required="">
								<span asp-validation-for="password" class="text-danger"></span>
								<div class="show-password">
									<i class="icon-eye"></i>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="confirmpassword" class=""><a>Confirm Password</a></label>
							<div class="position-relative">
								<input id="confirmpassword" name="confirmpassword" type="password" class="form-control" required="">
								<div class="show-password">
									<i class="icon-eye"></i>
								</div>
							</div>
						</div>
						<div class="row form-sub m-0">
							<div class="form-check">
								<input type="checkbox" class="form-check-input" name="agree" id="agree">
								<label class="form-check-label" for="agree">I Agree the terms and conditions.</label>
							</div>
						</div>
						<div class="row form-action">
							<div class="col-md-6">
								<button type="submit" class="btn btn-secondary w-100 fw-bold">Sign In</button>
							</div>
							<div class="col-md-6">
								<a href="/login" class="btn btn-secondary w-100 fw-bold">Sign Up</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="assets/js/core/jquery-3.7.1.min.js"></script>

	<script src="assets/js/core/popper.min.js"></script>
	<script src="assets/js/core/bootstrap.min.js"></script>
	<script src="assets/js/kaiadmin.dark.min.js"></script>

	<audio class="audio-output" style="display: none;"></audio>
	<div id="volume-booster-visusalizer">
		<div class="sound">
			<div class="sound-icon"></div>
			<div class="sound-wave sound-wave_one"></div>
			<div class="sound-wave sound-wave_two"></div>
			<div class="sound-wave sound-wave_three"></div>
		</div>
		<div class="segments-box">
			<div data-range="1-20" class="segment"><span></span></div>
			<div data-range="21-40" class="segment"><span></span></div>
			<div data-range="41-60" class="segment"><span></span></div>
			<div data-range="61-80" class="segment"><span></span></div>
			<div data-range="81-100" class="segment"><span></span></div>
		</div>
	</div>
</body>